[Unit]
Description=Smartiecoin's distributed currency daemon
After=network.target

[Service]
User=smartiecoin
Group=smartiecoin

Type=forking
PIDFile=/var/lib/smartiecoind/smartiecoind.pid
ExecStart=/usr/bin/smartiecoind -daemon -pid=/var/lib/smartiecoind/smartiecoind.pid \
-conf=/etc/smartiecoin/smartiecoin.conf -datadir=/var/lib/smartiecoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
